body {
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-size: 5rem;
    font-weight: bold;
    gap: 50px;
    text-align: center;
    overflow: auto;
    background-color: hsl(214, 100%, 84%);

    /* min-width: 1000px;
    width: auto !important;
    width: 1000px; */
}

#navbar {
    display: flex;
    /* justify-content: right; */
    /* margin-top: -30px; */
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -70px;
    padding: 10px;
}

#title {
    font-weight: bold;
    margin-bottom: -20px;
}

#topdisplay {
    font-size: 3rem;
    margin-bottom: -40px;
}

#puzzle {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    /* max-width: 200px; */
    overflow: hidden;
    display:flex;

}

#display {
    width: 300px;
    /* padding: 20px; */
    /* height: 2px; */
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 40%);
    color: white;
    margin-bottom:-50px;
}

#keys {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    padding: 20px;
    margin-bottom: -2px;
}

#answerkey {
    background-color: white;
    padding: 20px;
    font-size: 2rem;
    margin-bottom: 10px;
}

#answers {
    padding: 20px;
}

button {
    width: 50px;
    height: 50px;
    /* border-radius: 50px; */
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 80%);
}

button:active {
    background-color: hsl(0, 0%, 60%);
}

.highlighted-btn {
    color: white;
}

.letter-btn {
    color: black;
    background-color: white;
}

#infobtn {
    background-color: hsl(0, 0%, 40%);
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    border-radius: 50px;
}

#infobtn:hover {
    background-color: hsl(0, 0%, 60%);
}

#infobtn:active {
    background-color: hsl(0, 0%, 80%);
}

.answerkeyword {
    font-size: 1.3rem;
    padding: 5px;
    font-weight: normal;
    margin-top: 5px;
}

#currenttimer {
    font-size: 3rem;
    margin-top: -20px;
    margin-bottom: -30px;
}

#puzzletimer {
    font-size: 3rem;
    padding-bottom: 30px;
}