body {
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    gap: 50px;
    text-align: center;
    overflow: auto;
    background-image: linear-gradient(hsl(283, 66%, 78%), hsl(175, 49%, 75%));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#navbar {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: -70px;
    padding: 10px;
}

#title {
    color: white;
    font-weight: bold;
    margin-bottom: -40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#topdisplay {
    width: 100%;
    color: black;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(0, 0%, 20%);
    font-size: 2.5rem;
    margin-bottom: -30px;
}

#puzzle {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    overflow: hidden;
    display:flex;
}

#display {
    width: 300px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 40%);
    color: white;
    margin-bottom:-50px;
}

#keys {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    padding: 20px;
    margin-bottom: -2px;
}

#answerkey {
    background-color: white;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 0px;
}

#answers {
    padding: 20px;
    margin-right: -20px;
}

#answerkeyword {
    font-size: 1.2rem;
    padding: 5px;
    color: gray;
    margin-top: 2px;
}

#sharediv {
    margin-top: -70px;
    margin-bottom: -30px;
}

button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.8);
}

#hoverbutton {
    filter: brightness(0.8);
}

button:active {
    filter: brightness(0.6);
}

.highlighted-btn {
    color: white;
}

.highlighted-btn:hover {
    filter: brightness(0.8);
}

.highlighted-btn:active {
    filter: brightness(0.6);
}

.letter-btn {
    color: black;
    background-color: white;
}

#indented-btn {
    filter: brightness(0.6);
}

.share-btn {
    width: 140px;
    border-radius: 15px;
    font-weight: normal;

    background: hsl(0, 0%, 30%) url('shareicon.png') no-repeat top left;
    background-position: 15px 4px;
    padding-left: 40px;
}

#infobtn {
    background-color: hsl(0, 0%, 40%);
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    border-radius: 50px;
}

#infobtn:hover {
    background-color: hsl(0, 0%, 60%);
}

#infobtn:active {
    background-color: hsl(0, 0%, 80%);
}

.answerkeyword {
    font-size: 1.3rem;
    padding: 5px;
    font-weight: normal;
    margin-top: 5px;
}

#speechdiv {
    font-size: 1.5rem;
    margin-top: -40px;
    padding: 20px;
}

label {

    margin: .5rem;
}

#currenttimer {
    font-size: 2.5rem;
    margin-bottom: -30px;
}

#puzzletimer {
    font-size: 2.5rem;
}

input[type='checkbox'] {
    width:15px;
    height:15px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info {
    visibility: hidden;
    margin-top: -150px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
}

p {
    line-height: .1em;
}

